body{
	background-image: url('http://assets.mshanken.com/promo/images/BSLV2016-Seminars-largeborder.jpg');
	background-repeat: repeat-y;
	background-position: center;
}
p{
	font-size: 17px;
	color:#000;
	margin-top:10px;
}
img {
	position: relative;
}
.header_image{
	margin-left: 20px;
}
a{
	color:#000;
}
.hotel{
	margin-top: 20px;
	font-size: 21px;
	font-weight: bold;
	font-family: Georgia; 
}
.content{
	font-family: Arial;
	font-size:14px;
	margin-top:30px;
}
.sidetext{
	font-size:18px;
	font-family: Arial;
	margin-top: 0;
	margin-left: 10px;
}
.second_sidetext{
	font-size:18px;
	font-family: Arial;
	margin-top: 0;
	margin-left: 0px;
}
.click_here{
	color:#c71f25;
	font-family: Georgia;
	font-size: 26px;
	margin-bottom:0px;
}
.click_2{
	color: #c71f25;
	font-family: Georgia;
	font-size: 15px;
	font-weight:bold;
	margin-top:0;
	margin-bottom:10px;
}
.foot_text{
	color:#3b607e;
	font-family: Georgia;
	font-weight: bold;
	font-size: 23px;
	margin-top: 0;
}
.sem_text{
	font-size: 13px;
	color: #000;
	font-family: Arial;
	
}
.large_font{
	font-size: 22px;
}
.price{
	font-size: 22px;
}
#sold{
	text-decoration: line-through;
	color: #c72127;
}
#out{
	color: #c72127;
	font-weight: bold;
}
.dates{
	font-size: 20px;
}
#nav {
	margin:0 auto;
	max-width: 890px;
	padding-top: 10px;
}
#nav a:hover{
	color:#ffffff;
}
#nav a.btn-default{
	padding:15px 0;
	font-weight: bold;
	font-size: 16px;
}
#head_text{
	font-family: Georgia;
	font-weight: bold;
	font-size: 33px;
	color:#c71f25;	
	margin:0;
	padding:0;
}
#first_row{
	margin-top: 20px;
}
#second_row{
	margin-top: 63px;
}
#wrapper{
	background-color: #eeeeee;
	padding-right: 20px;
	padding-left: 20px;
	padding-top:0px;
	max-width: 890px;
	margin: 10px auto 30px auto;
	box-shadow: 0 0 7px 3px #4b4b4b;
}
#partial{
	margin-left: 25px;
	margin-top: 20px;
	font-size: 14px;
}
.cigar_list{
	margin-top:10px;
}
.ca_name{
	font-family:Arial;
	text-transform:uppercase;
	text-align: center;
}
.home-header{
	color:#3b607e;
	font-family:Georgia;
	font-weight:bold;
	font-size:24px;
	text-align: center;
	margin-bottom: 0px;
	margin-top: 0;
}
.home_head_text{
	padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    text-align: center;
    font-family: Arial;
    font-size: 19px;
}
.home_head_text_1{
	padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    text-align: center;
    font-family: Arial;
    font-size: 19px;
    margin-top: 0;
}
.home_head_text_2{
	padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    text-align: center;
    font-family: Arial;
    font-size: 19px;
    border-bottom: 3px solid #a4b4c1;
    margin-top: 0;
}
.home_smoke{
	color:#3b607e;
	font-family: Georgia;
	font-weight: bold;
	font-size: 23px;
	margin-top: 0;
	text-align: center;
}
.home_foot_text{
	font-family: Arial;
	font-size: 12px;
	text-align: center;
}
.seminar_head_text{
	padding-left:20px;
	padding-right:20px;
	padding-bottom: 10px;
	text-align:center;
	font-family:Arial;
	font-size:19px; 
	border-bottom: 3px solid #a4b4c1;
}
.sem_header_image{
	margin-left: 7px;
	margin-top: 10px;
}
.seminar_list{
	font-family: Arial;
	color:#000000 !important;
	font-size: 17px;
}
.sqaure_bullet{
	color:#3b607e !important;
    padding-left: 10px;
}
.cigar_list{
	color:#3b607e;
	font-family:Arial;
	font-weight:bold;
	font-size: 20px;
	text-transform:uppercase;
}
.new_seminar{
	text-align: center;
	font-family:Arial;
}
.semi_link{
	font-weight:bold;
	color:#3b607e;
}
.order_ticket{
	margin:0 auto;
	padding-top: 10px;
	padding-bottom: 10px;
}
.foot_seminar{
	text-align: center;
	font-family:Arial;
	font-size:15px;
}
.events_text{
	font-family: Arial;
	font-size: 18px;
	text-align: center;
}
.events_smoke{
	color: #3b607e;
    font-family: Georgia;
    font-weight: bold;
    font-size: 23px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}
.hotel_text{
	font-family: Arial;
	font-size: 18px;
	margin-left: 12px;
}

@media only screen and (max-width: 991px){
    #nav a.btn-default{
		font-size: 13px;
    }
}
@media only screen and (max-width: 991px){
    #evening_image{
		margin-top: 13px;
    }
}
/* ----------- iPhone 4 and 4S ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* Portrait */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
  .header_image {
    margin-left: 0px;
	}
  .second_row{
	margin-top: 0px;
	}
}

/* Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {

}

/* ----------- iPhone 5 and 5S ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* Portrait */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
  .header_image {
    margin-left: 0px;
	}
	#second_row{
	margin-top: 0px;
	}
}

/* Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {

}

/* ----------- iPhone 6 ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 

}

/* Portrait */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) { 
  .header_image {
    margin-left: 0px;
	}
	#second_row{
	margin-top: 0px !important;
	}

}

/* Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) { 

}

/* ----------- iPhone 6+ ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3) { 

}

/* Portrait */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 
  .header_image {
    margin-left: 0px;
	}
	#second_row{
	margin-top: 0px !important;
	}

}

/* Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 

}